.DS_Store
slides/*
*.pyc
.zshrc
.vscode/*
tags
autograder.py
autograder.sh
grading.py
reinforcementTestClasses.py
testClasses.py
testParser.py
test_cases/
final/*
final_project/Makefile
final_project/*.tsv
final_project/*.csv
final_project/*.txt
final_project/train/*
final_project/test/*
